@charset "utf-8";

html {
  font-size : 100% ;
}

body {
  font-family : "Noto Serif JP" , "游明朝 Medium" , "Noto Sans JP" , "メイリオ" ;
  line-height : 1.7 ;
  color : #432 ;
}

#sanctuary {
   background-image : linear-gradient(#fdec96,#ffd505) ;
   background-blend-mode : hard-light ;
}

a {
  text-decoration : none ;
}

img {
  max-width : 80% ;
}

.page-header {
  display : flex ;
  justify-content : space-between ;
}
.main-nav {
  display : flex ;
  font-size : 1.25rem ;
  text-transform : uppercase ;
  margin-top : 17px ;
  margin-bottom : 17px ;
  list-style : none ;
}

.main-nav li {
  margin-left : 36px ;
}

.main-nav a {
  color : #432 ;
}

.main-nav a:hover {
  color : #0bd ;
}

.page-header h1:hover {
  color : #0bd ;
}

.wrapper {
  max-width : 1200px ;
  margin : 0 auto ;
  padding : 0 4% ;
}

footer {
  background : #432 ;
  text-align : center ;
  padding : 26px 0 ;
}

footer p {
  color : #fff ;
  font-size : 0.975rem ;
}

.home-content {
  text-align : center ;
  margin : 270px 270px ;
}



:root {
    --light-green: #d5edeb;
    --green: #63dbd0;
    --brown: #403632;
    --light-grey: #eee;
    --white: #fff;
    --oswald-font: 'Oswald', sans-serif;
}

.btn-menu {
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 4;
    padding: .5rem 1rem;
    border: 1px solid var(--brown);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    transition: .4s;
}
.btn-menu svg {
    fill: var(--brown);
    margin-top: .25rem;
    height: 2rem;
    width: 2rem;
}

/* 閉じるボタン */
#menu-close {
    border: 1px solid var(--light-green);
}
#menu-close svg {
    fill: var(--light-green);
}

/* スライドメニューパネル */
#menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 8rem 2rem 2rem;
    width: max(32vw, 20rem);
    height: 100vh;
    background-color: var(--brown);
    box-shadow: 0 0 2rem var(--brown);
    font-family: var(--oswald-font);
    translate: 100vw;
}
.menu-list {
    list-style: none;
}
.menu-list li {
    margin: 1.5rem 0;
    opacity: 0;
}
.menu-list a {
    color: var(--light-green);
    text-decoration: none;
    font-size: 2rem;
}

.button {
    font-size: 1.375rem;
    background : #fff ;
    color: #0a0a0a ;
    font-family: "楷書体" ;
    border-radius: 5px;
    padding: 18px 20px;
    margin : 100px ;
}


#Button {
    font-size: 1.375rem;
    background: #0bd ;
    color : #fff ;
    border-radius: 5px;
    padding : 18px 32px ;
}
